h2{
    color: skyblue;
    font-style: oblique;
}

.animal{
    font-style: italic;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-evenly;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    margin: dotted;
    padding: 5mm;
    border-radius: 3mm;
}


